Judul: Which foods are ‘healthy’? FDA has new requirements for food labels
Wartawan: Deidre McPhillips
Isi Berita: 
The U.S. Food and Drug Administration (FDA) has updated its 30-year-old definition of "healthy" foods to align with current nutrition science and federal dietary guidelines. Under the new criteria, foods labeled as "healthy" must contain certain amounts of recommended food groups, such as fruits, vegetables, grains, dairy, or protein, while limiting added sugars, sodium, and saturated fat. This update aims to help consumers make better-informed dietary choices and reduce diet-related chronic diseases. Manufacturers have until February 2028 to comply with the new standards. ​